aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.9.1
boto3==1.12.46
botocore==1.15.46
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
docutils==0.15.2
filelock==3.0.12
future==0.18.2
google==2.0.3
grpcio==1.29.0
idna==2.9
idna-ssl==1.1.0
importlab==0.5.1
importlib-metadata==1.6.0
jmespath==0.9.5
jsonschema==3.2.0
kiwisolver==1.2.0
matplotlib==3.2.1
msgpack==0.6.2
multidict==4.7.6
networkx==2.4
ninja==1.9.0.post1
numpy==1.18.3
pandas==1.0.3
Pillow==8.1.1
protobuf==3.12.1
py-spy==0.3.3
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytype==2020.4.22
pytz==2020.1
PyYAML==5.3.1
redis==3.4.1
requests==2.23.0
s3transfer==0.3.3
scipy==1.4.1
six==1.14.0
soupsieve==2.0.1
tabulate==0.8.7
tensorboardX==2.0
torch==1.5.0
torchvision==0.6.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.9
yarl==1.4.2
zipp==3.1.0
